	.mblink:visited, a:visited{color:#F26444 !important;}
	.r a:link {color:#669993;}
	div#hdtbSum {background:#f1f1f1;}
	#main {background:#f1f1f1;}
	#gbqfb {background:#669993;}
	#slim_appbar, #gbq1 {display:none;}
	.gbt {margin-left:9.5em;}